
<!-- start /components/banners/-->
<link rel="stylesheet" href="/components/banners/style.css"/>
<script src="/components/banners/script.js"></script>
<div class="b-ann-blocks"><a href="" class="b-ann-blocks__item i-size-12">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-12.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-4.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture><span>Надпись на баннере может быть в две строки, а может и не быть</span></a></div>
<hr class="i-size-M hidden-xs"/>
<hr class="visible-xs-block"/>
<div class="b-ann-blocks"><a href="" class="b-ann-blocks__item i-size-6">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-6.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-6_2.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture></a>
  <hr/><a href="" class="b-ann-blocks__item i-size-6">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-6_3.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-6_4.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture><span>Надпись на баннере может быть в две строки, а может и не быть</span></a>
</div>
<hr class="i-size-M hidden-xs"/>
<hr class="visible-xs-block"/>
<div class="b-ann-blocks"><a href="" class="b-ann-blocks__item i-size-4">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-4.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-4_2.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture><span>Надпись на баннере может быть в две строки, а может и не быть</span></a>
  <hr/>
  <div href="" class="b-ann-blocks__item i-size-8">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-8.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-8_2.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture>
  </div>
</div>
<hr class="i-size-M hidden-xs"/>
<hr class="visible-xs-block"/>
<div class="b-ann-blocks">
  <div href="" class="b-ann-blocks__item i-size-8">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-8.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-8_2.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture><span>Надпись на баннере может быть в две строки, а может и не быть</span>
  </div>
  <hr/><a href="" class="b-ann-blocks__item i-size-4">
    <picture>
      <source media="(min-width: 576px)" srcset="/upload/inform-blocks/col-4.png"/>
      <source media="(max-width: 575px)" srcset="/upload/inform-blocks/col-4_2.png"/><img src="/upload/inform-blocks/col-6.png" alt=""/>
    </picture><span>Надпись на баннере может быть в две строки, а может и не быть</span></a>
</div>
<!-- end /components/banners/-->