// start /components/banners/

link( rel="stylesheet", href="/components/banners/style.css" )
script( src="/components/banners/script.js" )

.b-ann-blocks

  a.b-ann-blocks__item.i-size-12( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-12.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-4.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")
    span Надпись на баннере может быть в две строки, а может и не быть

hr.i-size-M.hidden-xs
hr.visible-xs-block

.b-ann-blocks

  a.b-ann-blocks__item.i-size-6( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-6.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-6_2.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")
  hr
  a.b-ann-blocks__item.i-size-6( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-6_3.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-6_4.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")
    span Надпись на баннере может быть в две строки, а может и не быть

hr.i-size-M.hidden-xs
hr.visible-xs-block

.b-ann-blocks

  a.b-ann-blocks__item.i-size-4( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-4.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-4_2.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")
    span Надпись на баннере может быть в две строки, а может и не быть
  hr
  .b-ann-blocks__item.i-size-8( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-8.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-8_2.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")

hr.i-size-M.hidden-xs
hr.visible-xs-block

.b-ann-blocks

  .b-ann-blocks__item.i-size-8( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-8.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-8_2.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")
    span Надпись на баннере может быть в две строки, а может и не быть
  hr
  a.b-ann-blocks__item.i-size-4( href="" )
    picture
        source( media="(min-width: 576px)" srcset="/upload/inform-blocks/col-4.png")
        source( media="(max-width: 575px)" srcset="/upload/inform-blocks/col-4_2.png")
        img( src="/upload/inform-blocks/col-6.png" alt="")
    span Надпись на баннере может быть в две строки, а может и не быть

// end /components/banners/